@keyframes flyAway {
  to {
      transform: translateY(-100vh);
      opacity: 0;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.fly-away {
  animation: flyAway 1s forwards;
}
.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes expandBackground {
  from { width: 0; }
  to { width: 100%; }
}
.expand-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1F2937; /* Ajusta este color según prefieras */
  z-index: -1;
  animation: expandBackground 2s ease-out forwards;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in.visible {
  opacity: 1;
}